body {
	background-color: darkgrey;
}

.results {
	margin-left: 50px;
	color: darkgrey;
}

.colorChanger {
	margin-left: 10px;
    width: 211px;
    height: 86px;
}

.calculator {
	margin-top: 100px;
}

#result {
	margin-left: 25px;
	color: black;
}

#operator {
	color: red;
}

#clear {
	margin-left: 10px;
    width: 211px;
}

#buttonMinus {
	width: 45px;
}

#buttonDivide {
	width: 45px;
}
